################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Cvent_to Cosmos/.vs
/Cvent_to Cosmos/Event_Grid_Sync_Poc/.vs/Event_Grid_Sync_Poc
/Cvent_to Cosmos/Event_Grid_Sync_Poc/bin/Debug/net8.0
/EventGrid to SF/.vs
/Cvent_to Cosmos/Event_Grid_Sync_Poc/obj/Debug/net8.0
/Cvent_to Cosmos/Event_Grid_Sync_Poc/obj/Release/net8.0
/EventGrid to SF/WebApplication1/obj
